body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px #5f9341 solid;
    
}

button {
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    background-color: #5f9341;
    border: none;
    margin-top: 5px;
}

ul {
    margin-top: 25px;
    padding-left: 5px;
    list-style: none;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}